#
#
#
abseil-cpp
altair
aom
appnope
arrow-cpp
asttokens
attrs
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
azure-core-cpp
azure-identity-cpp
azure-storage-blobs-cpp
azure-storage-common-cpp
azure-storage-files-datalake-cpp
black
blinker
blosc
boost-cpp
branca
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
cachetools
cairo
certifi
cffi
cfitsio
charset-normalizer
click
comm
contourpy
cycler
dav1d
debugpy
decorator
entrypoints
exceptiongroup
executing
expat
folium
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
fpdf
freetype
freexl
gdal
geopandas
geopandas-base
geos
geotiff
gettext
gettext-tools
gflags
giflib
gitdb
gitpython
glog
grpc-cpp
gtest
h2
hdf4
hdf5
hpack
hyperframe
icu
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
jinja2
joblib
json-c
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kealib
kiwisolver
krb5
lcms2
lerc
libabseil
libaec
libarchive
libasprintf
libasprintf-devel
libavif16
libblas
libboost
libboost-devel
libboost-headers
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcrc32c
libcurl
libcxx
libde265
libdeflate
libedit
libev
libevent
libexpat
libffi
libgdal
libgettextpo
libgettextpo-devel
libgfortran
libgfortran5
libglib
libheif
libiconv
libintl
libintl-devel
libjpeg-turbo
libkml
liblapack
liblzma
liblzma-devel
libnetcdf
libnghttp2
libopenblas
libpng
libpq
libprotobuf
librttopo
libsodium
libspatialite
libsqlite
libssh2
libthrift
libtiff
libutf8proc
libwebp-base
libxcb
libxml2
libzip
libzlib
llvm-openmp
lz4-c
lzo
mapclassify
markdown-it-py
markupsafe
matplotlib-base
matplotlib-inline
mdurl
minizip
munkres
mypy_extensions
narwhals
ncurses
nest-asyncio
networkx
nspr
nss
numpy
openjpeg
openssl
orc
packaging
pandas
parso
pathspec
pcre2
pexpect
pickleshare
pillow
pip
pixman
pkgutil-resolve-name
platformdirs
poppler
poppler-data
postgresql
proj
prompt-toolkit
protobuf
psutil
pthread-stubs
ptyprocess
pure_eval
pyarrow
pycparser
pydeck
pygments
pympler
pyodbc
pyogrio
pyparsing
pyproj
pysocks
python
python-dateutil
python-tzdata
python_abi
pytz
pyyaml
pyzmq
qhull
rav1e
re2
readline
referencing
requests
rich
rpds-py
scikit-learn
scipy
semver
setuptools
shapely
six
smmap
snappy
sqlite
stack_data
streamlit
streamlit-folium
svt-av1
tenacity
threadpoolctl
tiledb
tk
toml
toolz
tornado
traitlets
typing-extensions
typing_extensions
tzcode
tzdata
tzlocal
unicodedata2
unixodbc
uriparser
urllib3
utf8proc
validators
watchdog
wcwidth
wheel
widgetsnbextension
x265
xerces-c
xorg-libxau
xorg-libxdmcp
xyzservices
xz
xz-gpl-tools
xz-tools
yaml
zeromq
zipp
zlib
zstandard
zstd
